@charset "UTF-8";
@import url(../app/css/fonts.css);
.move-button {
  width: 100px;
  height: 100px;
  background: #C7D744;
  border-radius: 50%;
}

body {
  background: #666;
  font-family: "Roboto", Sans-Serif;
  font-size: 14px;
  line-height: 1.5;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}

.active {
  text-decoration: underline;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  position: relative;
  display: block;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 102;
  margin-top: 70px;
}

h2::before {
  position: absolute;
  content: "";
  width: 90px;
  height: 90px;
  transform: rotate(75deg);
  background-color: #C7D744;
  left: -37px;
  top: -25px;
  z-index: -1;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 900;
}

a,
a:active,
a:hover,
a:visited {
  color: #272525;
  text-decoration: none;
}

input {
  background: none;
  font-size: 14px;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

a:focus,
input:focus,
button:focus {
  outline: none;
}

p {
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
}

button {
  display: block;
  height: 45px;
  transform: skewX(14deg);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #272525;
  background: #C7D744;
  border: none;
  cursor: pointer;
}

button div {
  transform: skew(-14deg);
}

@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  display: inline-block;
  box-shadow: 0 0 1px transparent;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.hvr-ripple-out::before {
  content: '';
  position: absolute;
  border: #C7D744 solid 3px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.hvr-ripple-out:hover::before, .hvr-ripple-out:focus::before, .hvr-ripple-out:active::before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

.overlay {
  z-index: 2499;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #272525;
}

.popup {
  z-index: 2500;
  position: fixed;
  top: 50%;
  left: 50%;
  text-outline: 0;
  cursor: pointer;
  display: none;
}

.popup--call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  margin-top: -250px;
  margin-left: -228px;
}

.popup--call input {
  display: block;
  height: 50px;
  width: 400px;
  border: none;
  border-bottom: 1px solid white;
  font-weight: 600;
  margin-top: 10px;
  color: white;
}

.popup--call input:first-child {
  margin: 0;
}

.popup--call button {
  margin-top: 75px;
  width: 250px;
}

.popup--call .close-button {
  position: relative;
  width: 28px;
  height: 28px;
  bottom: 50px;
  right: 228px;
  cursor: pointer;
  display: block;
  z-index: 2501;
}

.popup--call .close-button .a {
  fill: #C7D744;
}

.popup--call .close-button:hover .a {
  fill: white;
}

.main-nav {
  position: fixed;
  background: #272525;
  width: 100%;
  max-width: 1600px;
  height: 78px;
  z-index: 2000;
}

.main-nav::before, .main-nav::after {
  width: 1555px;
  margin: 0 auto;
  position: fixed;
  content: "";
  left: 40px;
  right: 40px;
  top: 60px;
  z-index: -1;
  box-shadow: 0 0 30px 10px #111;
  border-radius: 100px/20px;
}

.main-nava {
  color: white;
}

.logo {
  background: #9FA0A3;
  height: 78px;
  font-size: 12px;
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo div {
  position: absolute;
  padding: 0;
  padding-top: 10px;
  right: 40px;
}

.logo img {
  position: absolute;
  top: 8px;
  right: 150px;
  z-index: 101;
}

.logo span {
  display: block;
}

.logo span:nth-child(2) {
  padding-left: 5px;
}

.logo span:last-child {
  padding-left: 10px;
}

.list {
  position: relative;
  height: 78px;
  left: -12px;
  background-color: #272525;
  list-style: none;
  transform: skewX(14deg);
}

.list li {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-right: 40px;
  min-height: 100%;
  height: 78px;
  transform: skew(-14deg);
}

.list li:first-child {
  padding-left: 40px;
}

.list li:last-child {
  background-color: #C7D744;
  margin-left: 20px;
  padding-left: 40px;
  padding-right: 43px;
  transform: skew(0deg);
}

.list li:last-child a {
  color: #272525;
  transform: skew(-14deg);
  text-decoration: none;
}

.list li:last-child a:last-child {
  text-decoration: underline;
}

.list li:last-child a:last-child:hover {
  color: #e8e8e8;
}

.list a {
  display: block;
  color: white;
  padding-left: 5px;
}

.list a:hover, .list a :active {
  text-decoration: underline;
}

.list-mobile-header,
.list-mobile {
  display: none;
  color: white;
  font-weight: 700;
}

.list-mobile-header {
  justify-content: center;
  align-items: center;
  font-size: 36px;
  text-align: center;
  border-bottom: 1px solid white;
  background-color: #272525;
  height: 78px;
  z-index: 2000;
}

.list-mobile-header::before, .list-mobile-header::after {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  content: "";
  top: 60px;
  box-shadow: 0 0 30px 10px #111;
  border-radius: 100px/20px;
  z-index: -1;
}

.list-mobile li {
  font-size: 19px;
  text-align: center;
  background-color: #272525;
  opacity: 0.9;
  border-bottom: 2px dotted white;
}

.list-mobile li:hover {
  background-color: #C7D744;
  cursor: pointer;
}

.list-mobile a {
  line-height: 60px;
  color: white;
}

.list-mobile a:hover {
  text-decoration: underline;
}

.humburger {
  width: 38px;
  height: 25px;
  position: absolute;
  top: 25px;
  left: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.humburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.humburger span:nth-child(1) {
  top: 0px;
}

.humburger span:nth-child(2) {
  top: 10px;
}

.humburger span:nth-child(3) {
  top: 20px;
}

.humburger.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.humburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.humburger.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.advantages,
.advantages__dotted,
.advantages__darken {
  width: 100%;
  max-width: 1600px;
  height: 724px;
  z-index: 101;
}

.advantages {
  position: relative;
  text-transform: uppercase;
  margin-top: 76px;
  font-weight: 700;
  color: white;
  background: url(../img/coach-back.jpg) 100% no-repeat;
}

.advantages__coach {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: url(../img/coach.png) bottom left no-repeat;
}

.advantages__dotted {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 8px 8px;
  -moz-background-size: 8px 8px;
  background-size: 8px 8px;
}

.advantages__wrapper {
  width: 100%;
  height: 100%;
  left: 25%;
}

.advantages__darken {
  background-color: rgba(39, 37, 37, 0.3);
}

.advantages span {
  position: relative;
  display: block;
  font-size: 30px;
}

.advantages span:first-child {
  padding-top: 110px;
}

.advantages span:nth-child(2) {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 30px;
}

.advantages span:nth-child(4) {
  font-size: 45px;
  line-height: 55px;
}

.advantages span img {
  position: static;
  padding-left: 10px;
}

.advantages a + img {
  position: absolute;
  top: 70px;
  left: 600px;
  width: 525px;
  height: 785px;
}

.advantages p {
  position: absolute;
  width: 35%;
  bottom: -20px;
  right: 37%;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 60px;
  border-left: 1px solid #C7D744;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-transform: none;
}

.advantages button {
  position: relative;
  width: 220px;
  margin-top: 50px;
  margin-left: 7px;
  z-index: 103;
}

.secret {
  position: relative;
  height: 800px;
  max-height: 100%;
  text-transform: uppercase;
  background-color: white;
}

.secret div.sect-head {
  display: flex;
}

.secret svg {
  display: none;
  position: absolute;
  fill: white;
  left: -45px;
}

.secret svg:hover {
  fill: rgba(39, 37, 37, 0.8);
}

.secret svg:last-child {
  transform: rotate(180deg);
  left: 500px;
}

.secret__wrapper {
  height: 100%;
  display: flex;
  justify-content: scpace-between;
  align-items: center;
}

.secret__sqr-770, .secret__sqr-725, .secret__sqr-545, .secret__sqr-330 {
  position: absolute;
  transform: rotate(45deg);
  background-color: rgba(170, 170, 170, 0.2);
  z-index: 101;
}

.secret__sqr-770 {
  width: 770px;
  height: 770px;
  top: -110px;
  right: 85%;
}

.secret__sqr-725 {
  width: 725px;
  height: 725px;
  top: 50px;
  left: 45%;
}

.secret__sqr-545 {
  width: 545px;
  height: 545px;
  top: -210px;
  left: 80%;
}

.secret__sqr-330 {
  top: 380px;
  right: 82%;
  width: 330px;
  height: 330px;
}

.secret__tab-fixer {
  position: absolute;
  width: 365px;
  height: 663px;
  left: 10%;
  bottom: -20px;
  background-image: url(../img/tablet-fixer.png);
  z-index: 102;
}

.secret ul {
  position: relative;
  list-style: none;
  font-size: 24px;
  line-height: 90px;
  font-weight: 700;
  color: #9fa0a3;
  z-index: 102;
  left: 29%;
}

.secret li {
  position: relative;
}

.secret li:hover,
.secret li:active {
  color: #c7d744;
  cursor: pointer;
  transition: ease 0.3s;
}

.secret__li--active {
  color: #c7d744;
}

.secret__li--active::before {
  display: block;
  position: absolute;
  content: "";
  width: 110%;
  top: 70px;
  left: -10px;
  border: 1px solid #c7d744;
}

.secret__li--active::after {
  display: block;
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  bottom: 38px;
  left: -40px;
  top: 52px;
  border: 3px solid #c7d744;
  border-radius: 50%;
  background: radial-gradient(circle closest-side, #c7d744 10px, white 5px);
}

.secret__item {
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  top: -5px;
  left: 35%;
  width: 25%;
  height: 380px;
  z-index: 102;
}

.secret__item--active {
  display: flex;
}

.secret h3 {
  margin-bottom: 30px;
}

.tools {
  position: relative;
  background: url(../img/team.jpg) top left no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  height: 800px;
  text-transform: uppercase;
  z-index: 200;
}

.tools-slider-wrapper {
  width: 60%;
}

.tools-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.tools__pro-mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: #c7d744;
  height: 470px;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 140px;
}

.tools__pro-mobile svg {
  display: none;
}

.tools-prev {
  left: 0;
}

.tools-next {
  right: 0;
}

.tools-prev, .tools-next {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 470px;
  bottom: 0;
  background: rgba(199, 215, 68, 0.5);
}

.tools-prev:hover, .tools-next:hover {
  background: rgba(199, 215, 68, 0.8);
}

.tools-prev:hover .svg-arrow, .tools-next:hover .svg-arrow {
  fill: white;
}

.tools .svg-arrow {
  width: 150px;
  height: 90%;
  fill: rgba(255, 255, 255, 0.3);
}

.tools__setup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tools h2 {
  color: white;
  bottom: 30px;
}

.tools h3 {
  position: relative;
  top: -68px;
  text-align: center;
  font-size: 18px;
  color: white;
}

.tools ul {
  width: 280px;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  text-transform: none;
  margin-top: 20px;
}

.tools ul:last-child {
  text-align: right;
}

.tools li {
  margin-bottom: 10px;
}

.tools iframe {
  width: 350px;
  height: 200px;
  display: block;
  padding: 40px;
  padding-bottom: 30px;
}

.franchise {
  position: relative;
  justify-content: flex-start;
  width: 100%;
  height: 800px;
  color: #272525;
  text-transform: uppercase;
  background-color: white;
  overflow: hidden;
  padding-bottom: 20px;
}

.franchise div.sect-head {
  display: flex;
}

.franchise svg {
  display: none;
  position: absolute;
  fill: white;
  left: 15px;
}

.franchise svg:hover {
  fill: rgba(39, 37, 37, 0.8);
}

.franchise svg:last-child {
  transform: rotate(180deg);
  left: 710px;
}

.franchise__sqr-880 {
  position: absolute;
  transform: rotate(45deg);
  width: 880px;
  height: 880px;
  right: 20%;
  bottom: 10%;
  background: rgba(170, 170, 170, 0.2);
  transition: ease 1s;
}

.franchise__sqr-610 {
  position: absolute;
  transform: rotate(45deg);
  width: 610px;
  height: 610px;
  right: 10%;
  top: 15%;
  background: #C7D744;
  transition: ease 1s;
}

.franchise h3 {
  margin-bottom: 20px;
}

.franchise__wrapper {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding-top: 120px;
  padding-right: 300px;
  padding-left: 180px;
}

.franchise__nav {
  width: 40%;
  position: relative;
  left: -50px;
  bottom: 25px;
  list-style: none;
  font-size: 24px;
  color: #9fa0a3;
  margin-right: 50px;
}

.franchise__nav li {
  position: relative;
  padding-bottom: 50px;
}

.franchise li:hover,
.franchise li:active {
  color: #272525;
  cursor: pointer;
  transition: ease 0.5s;
}

.franchise__item {
  position: relative;
  width: 60%;
  bottom: 25px;
  height: 450px;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
}

.franchise__item--active {
  display: flex;
}

.franchise__item ul {
  display: block;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
  list-style: none;
  padding: 0;
}

.franchise__item li {
  position: relative;
  top: 20px;
  left: -14px;
}

.franchise__item li::before {
  position: relative;
  left: -15px;
  content: "—";
}

.franchise__li--active {
  color: #272525;
}

.franchise__li--active::before {
  display: block;
  position: absolute;
  content: "";
  width: 105%;
  top: 50px;
  left: -10px;
  border: 1px solid #c7d744;
}

.buisness {
  position: relative;
  width: 100%;
  height: 800px;
  color: white;
  background: url(../img/training-room.png);
  text-transform: uppercase;
}

.buisness h2 {
  margin-top: 0;
  margin-bottom: 50px;
}

.buisness__wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buisness__wrapper .row {
  width: 100%;
}

.buisness__wrapper .row:last-child {
  margin-left: 80px;
  width: 65%;
}

.buisness__wrapper .row:last-child figure {
  width: 50%;
}

.buisness figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.buisness figure:nth-child(4), .buisness figure:last-child {
  margin-top: 40px;
}

.buisness figure:nth-child(4) {
  margin-left: 200px;
}

.buisness figcaption {
  margin-top: 10px;
  margin-left: 40px;
  text-transform: none;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
}

.overlay {
  z-index: 2499;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #272525;
}

.popup-buisness {
  z-index: 2500;
  position: fixed;
  width: 800px;
  top: 50%;
  margin-top: -15%;
  left: 50%;
  margin-left: -25%;
  cursor: pointer;
  color: white;
  display: none;
}

.popup-buisness h4 {
  font-size: 20px;
  font-weight: normal;
  margin-left: -60px;
  margin-bottom: 50px;
}

.popup-buisness .close-button {
  position: relative;
  width: 28px;
  height: 28px;
  bottom: 70px;
  right: 70px;
  cursor: pointer;
  display: block;
  z-index: 2501;
}

.popup-buisness .close-button .a {
  fill: #C7D744;
}

.popup-buisness .close-button:hover .a {
  fill: white;
}

a#call-buisness {
  color: white;
  cursor: pointer;
}

.calculator {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  color: #272525;
  font-size: 18px;
  background-color: white;
}

.calculator a.mobile-call {
  display: none;
}

.calculator__sqr-730, .calculator__sqr-270, .calculator__sqr-730-2, .calculator__sqr-270-2 {
  position: absolute;
  transform: rotate(45deg);
  background-color: rgba(170, 170, 170, 0.2);
}

.calculator__sqr-730 {
  width: 730px;
  height: 730px;
  top: -110px;
  left: -590px;
}

.calculator__sqr-270 {
  width: 270px;
  height: 270px;
  top: 340px;
  left: -180px;
}

.calculator__sqr-730-2 {
  width: 730px;
  height: 730px;
  top: -150px;
  left: 1460px;
}

.calculator__sqr-270-2 {
  width: 270px;
  height: 270px;
  top: -80px;
  left: 1340px;
}

.calculator__triangle-270 {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: -45px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 205px solid transparent;
  border-right: 205px solid transparent;
  border-bottom: 205px solid #e8e8e8;
}

.calculator__triangle-270 span {
  position: absolute;
  width: 400px;
  top: 120px;
  left: -85px;
}

/*************** СЛАЙДЕР ****************/
.slider-wrapper {
  margin: 0 auto;
  position: relative;
  width: 1000px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-wrapper::before, .slider-wrapper::after {
  display: block;
  position: absolute;
  content: "";
  width: 1000px;
  height: 10px;
  background-color: #ebebeb;
  z-index: 1;
}

.slider-wrapper::after {
  width: 50px;
  left: 0;
  background-color: #c7c7c7;
}

.slider {
  position: relative;
  cursor: pointer;
  z-index: 100;
}

.slidershell {
  border: 0 none;
  position: relative;
}

.sliderfill {
  position: absolute;
  pointer-events: none;
  background: #c7c7c7;
  z-index: 130;
}

.sliderthumb {
  width: 40px;
  height: 40px;
  background-image: url("../img/thumb.png");
  background-size: 40px 40px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 0 none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  pointer-events: none;
  z-index: 150;
}

.slidervalue {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 0 none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  pointer-events: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 40%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  -moz-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

input[type=range] {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

input[type=range]::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 70px;
  left: 1px;
  top: 0px;
  z-index: 1;
  box-shadow: 18px 0 0 #c7c7c7, 448px 0 0 #c7c7c7, 878px 0 0 #c7c7c7;
}

input[type=range]::before {
  display: block;
  position: absolute;
  bottom: 60px;
  left: -50px;
  color: #272525;
  content: "Ваши инвестиции:";
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

input[type=range]::-ms-thumb {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
}

input[type=range]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
  -webkit-appearance: none;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

input[type=range]::-ms-tooltip {
  display: none;
}

output {
  display: block;
  position: relative;
  text-align: right;
  top: -90px;
  left: 50px;
}

output::after {
  content: " руб.";
}

.milestone {
  display: flex;
}

.milestone-item {
  position: relative;
  bottom: 65px;
  height: 70px;
  width: 50%;
}

.milestone-item:first-child::after, .milestone-item:first-child::before, .milestone-item:last-child::after {
  display: block;
  position: relative;
  top: 85px;
  color: #c7c7c7;
}

.milestone-item:first-child::after {
  left: 0px;
  top: 60px;
  content: "0 руб.";
}

.milestone-item:first-child::before {
  left: 400px;
  content: "5 000 000 руб.";
}

.milestone-item:last-child::after {
  left: 375px;
  content: "10 000 000 руб.";
}

.calculator__bepartner {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 0px;
  border-top: 45px solid #c6d744;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  width: 410px;
  height: 0;
  margin: 0 auto;
  cursor: pointer;
}

.calculator__bepartner:hover {
  border-top: 45px solid #8F9939;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  color: white;
  transition: ease 0.6s;
}

.calculator__bepartner span {
  position: relative;
  font-weight: 900;
  bottom: 34px;
}

.are-u-ready {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 150px;
  font-size: 14px;
}

.are-u-ready:last-child {
  font-weight: 900;
  margin-top: 27px;
}

.tbl {
  width: 1000px;
  display: table;
  font-size: 16px;
  font-weight: 900;
}

.tbl-cell-hide {
  opacity: 0;
}

.tbl-cell {
  width: 25%;
  display: table-cell;
  padding: 10px;
  margin-right: 20px;
}

.tbl-row {
  display: flex;
  justify-content: space-between;
}

.tbl-row:last-child .tbl-cont {
  padding-top: 0;
}

.tbl-head {
  padding-bottom: 15px;
}

.tbl-cont {
  padding: 10px;
}

.tbl-cont:first-child {
  padding-left: 0;
}

.tbl-wrapper {
  width: 50%;
  display: inline-block;
}

.tobepartner {
  position: relative;
  width: 100%;
  height: 590px;
  color: white;
  background: url(../img/tobepartner-back.jpg);
  overflow: hidden;
  padding-bottom: 50px;
}

.tobepartner h2 {
  bottom: 30px;
}

.tobepartner__sqr-410, .tobepartner__sqr-245 {
  position: absolute;
  transform: rotate(45deg);
  background-color: rgba(170, 170, 170, 0.2);
}

.tobepartner__sqr-410 {
  width: 410px;
  height: 410px;
  top: 40px;
  right: 2%;
}

.tobepartner__sqr-245 {
  width: 245px;
  height: 245px;
  top: 150px;
  left: 15%;
}

.tobepartner__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  top: 60px;
}

.tobepartner__row {
  width: 70%;
  display: flex;
  justify-content: center;
  position: relative;
}

.tobepartner__row:first-child {
  margin-right: 8%;
}

.tobepartner__row:last-child {
  margin-top: 70px;
  margin-left: 15%;
}

.tobepartner figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.tobepartner figure img {
  margin: 0 auto;
  height: 65px;
}

.tobepartner figcaption {
  width: 220px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.studios {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 780px;
  color: #272525;
  overflow: hidden;
  background-color: white;
}

.studios h2 {
  left: 40px;
}

.studios__sqr-360 {
  position: absolute;
  transform: rotate(75deg);
  background-color: rgba(170, 170, 170, 0.2);
  width: 410px;
  height: 410px;
  top: -40px;
  right: 50px;
  z-index: 200;
}

.studios__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.studios figure {
  position: relative;
  width: 390px;
  margin-right: 15%;
  transition: ease 1s;
}

.studios figure:last-child {
  margin: 0;
}

.studios figure img {
  position: relative;
  z-index: 250;
}

.studios figcaption {
  position: relative;
  margin-bottom: 20px;
  z-index: 250;
}

.studios figcaption span {
  border: none;
}

.studios figcaption a {
  text-decoration: underline;
  border: none;
}

.studios figcaption a:hover {
  color: #8F9939;
}

.studios span,
.studios a {
  font-size: 18px;
  font-weight: 900;
  border: none;
  color: #272525;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5px;
  border-bottom: 2px dotted;
}

.studios span:hover,
.studios a:hover {
  color: #9fa0a3;
  text-decoration: none;
}

.studios span:last-child,
.studios a:last-child {
  border: none;
}

.studios button {
  width: 340px;
}

.indaworld {
  position: relative;
  justify-content: flex-start;
  width: 100%;
  height: 590px;
  color: white;
  background-color: #272525;
}

#map_canvas {
  position: absolute;
  width: 1600px;
  height: 590px;
  z-index: 99;
}

.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px;
  color: #272525;
  background: url(../img/men.png) 10% 100% no-repeat, url(../img/women.png) 85% 100% no-repeat;
  background-color: white;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts h2 {
  margin-top: 20px;
}

.contacts p {
  margin-top: 100px;
  text-align: center;
}

.contacts span {
  display: block;
  font-weight: 900;
}

.contacts form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacts input {
  height: 50px;
  border: none;
  border-bottom: 1px solid #272525;
  margin-bottom: 10px;
}

.contacts input::-webkit-input-placeholder {
  color: #272525;
}

.contacts input::-moz-placeholder {
  color: #272525;
}

.contacts input::-moz-placeholder {
  color: #272525;
}

.contacts input::focus:-ms-input-placeholder {
  color: #272525;
}

.contacts button {
  width: 250px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 180px;
  background-color: black;
  color: #a1a1a5;
}

footer a,
footer a:hover {
  color: #c32b46;
}

footer span:first-child {
  display: flex;
  align-items: center;
}

/*@media (min-width: @screen-md-min) {
  .main-nav {
    max-width: 1360px;
    &::before,
    &::after {
      max-width: 1360px;
      left: 0;
      right: 0;
    }
    & nav {
      width: 1360px;
    }
    & nav ul li {
      padding-right: 20px;
    }
  }

  .advantages__coach {
    background-size: 50% auto;
  }
}*/
@media screen and (max-width: 1366px) {
  .list li {
    padding-right: 20px;
  }
  .advantages__coach {
    background-size: 50% auto;
  }
  .secret__tab-fixer {
    left: 6%;
  }
  .secret__item {
    width: 40%;
    right: 5%;
  }
  .secret__item p {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .tools-slider-wrapper {
    width: 70%;
  }
  .tools__pro-mobile {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .tools-prev, .tools-next {
    width: 12%;
  }
  .franchise__li--active:last-child__nav {
    width: 45%;
  }
  .franchise__li--active:last-child::before {
    top: 90px;
  }
  .contacts {
    background: url(../img/men.png) -2% 100% no-repeat, url(../img/women.png) 95% 100% no-repeat;
  }
}

@media (max-width: 1024px) {
  .list-mobile-header {
    display: flex;
    cursor: pointer;
  }
  .list-mobile,
  .logo,
  .list {
    display: none;
  }
  .main-nav.list-mobile li {
    padding: 0;
    margin: 0;
  }
  .advantages,
  .advantages__coach,
  .advantages__darken,
  .advantages__dotted {
    height: 510px;
  }
  .advantages span:first-child {
    padding-top: 50px;
  }
  .advantages button {
    margin-top: 20px;
  }
  .advantages a + img {
    top: 55%;
    width: 20%;
    height: auto;
    left: 455px;
  }
  .advantages p {
    width: 42%;
    right: 29%;
  }
  .secret {
    height: 100%;
    padding-bottom: 50px;
  }
  .secret li {
    line-height: 70px;
    font-size: 24px;
  }
  .secret__sqr-545 {
    display: none;
  }
  .secret__wrapper {
    padding-top: 20px;
  }
  .secret__item {
    width: 35%;
    right: 0;
    top: 35px;
  }
  .secret__item h3 {
    width: 100%;
  }
  .secret__tab-fixer {
    left: 5%;
    width: 30%;
    height: 70%;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  .tools {
    position: relative;
  }
  .tools svg {
    display: block;
  }
  .tools-m-prev {
    left: 30%;
  }
  .tools-m-next {
    right: 30%;
    transform: rotate(180deg);
  }
  .tools-m-prev, .tools-m-next {
    position: absolute;
    top: 70px;
    height: 30px;
    fill: white;
    opacity: 0.8;
    cursor: pointer;
  }
  .tools-m-prev:hover, .tools-m-next:hover {
    opacity: 1;
  }
  .tools-prev, .tools-next {
    display: none;
  }
  .tools-slider-wrapper {
    width: 90%;
  }
  .franchise {
    height: 100%;
  }
  .franchise__wrapper section:nth-child(5) h3 {
    width: 70%;
  }
  .franchise h3 {
    font-size: 22px;
  }
  .franchise__nav {
    left: 2%;
    font-size: 20px;
    width: 33%;
  }
  .franchise__nav li:last-child {
    margin-top: 0px;
    line-height: normal;
  }
  .franchise__li--active:last-child::before, .franchise__li--active::before {
    top: 45px;
  }
  .franchise__item {
    width: 66%;
    padding-left: 60px;
  }
  .franchise__wrapper {
    padding: 0;
    padding-bottom: 50px;
    padding-top: 100px;
    justify-content: center;
  }
  .franchise__sqr-880 {
    height: 600px;
    width: 600px;
  }
  .franchise__sqr-610 {
    height: 400px;
    width: 400px;
  }
  .buisness figure:nth-child(4) {
    margin-left: 150px;
  }
  /*******************************************/
  /*******************************************/
  /*******************************************/
  /*******************************************/
  /*******************************************/
  .calculator {
    height: 100%;
    align-items: center;
  }
  .tbl {
    width: 80%;
    z-index: 102;
    border: 1px solid lightgray;
    background: rgba(255, 255, 255, 0.6);
    padding: 15px;
  }
  .tbl-wrapper {
    width: 100%;
    display: flex;
  }
  .tbl-cell {
    width: 50%;
    display: block;
    padding-bottom: 20px;
  }
  .tbl-head {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
  }
  .tbl-wrapper:last-child .tbl-cell {
    padding-bottom: 0;
  }
  .tbl-cell:nth-child(2),
  .tbl-cell:last-child {
    padding-right: 0;
  }
  .slider-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -50px;
    margin-top: -80px;
  }
  /*******************************************/
  /*******************************************/
  /*******************************************/
  /*******************************************/
  /*******************************************/
  .studios__wrapper {
    width: 70%;
  }
  .studios figure {
    width: 50%;
  }
  .studios a {
    margin-bottom: 0;
  }
  .studios__sqr-360 {
    right: -10%;
  }
  .contacts {
    height: 600px;
    background: url(../img/men.png) -10% 380% no-repeat, url(../img/women.png) 100% 240% no-repeat;
    background-color: white;
  }
  .contacts input {
    background: none;
  }
  .contacts p {
    margin-top: 60px;
  }
  .contacts form {
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .advantages__coach {
    display: none;
  }
  .advantages__wrapper {
    left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .advantages p {
    width: 95%;
    left: 15px;
    border-top: 1px solid #C7D744;
    padding-bottom: 40px;
    padding-right: 15px;
  }
  .advantages a + img {
    display: none;
  }
  .advantages span:first-child {
    padding-top: 40px;
  }
  .advantages span:nth-child(2) {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  .advantages span:nth-child(4) {
    font-size: 42px;
    line-height: 55px;
  }
  .advantages button {
    margin: 0 auto;
    margin-top: 30px;
    left: auto;
    width: 300px;
  }
  /***************************************************************/
  /***************************************************************/
  /*************************  SECRET   ***************************/
  /***************************************************************/
  /***************************************************************/
  .secret {
    height: 450px;
    display: block;
  }
  .secret-slider-wrapper {
    width: 100%;
  }
  .secret div.sect-head {
    align-items: center;
    width: 800px;
    background-color: rgba(39, 37, 37, 0.3);
    background-image: -webkit-repeating-radial-gradient(center center, rgba(39, 37, 37, 0.2), rgba(39, 37, 37, 0.2) 1px, transparent 1px, transparent 80%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(39, 37, 37, 0.2), rgba(39, 37, 37, 0.2) 1px, transparent 1px, transparent 80%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(39, 37, 37, 0.2), rgba(39, 37, 37, 0.2) 1px, transparent 1px, transparent 80%);
    background-image: repeating-radial-gradient(center center, rgba(39, 37, 37, 0.2), rgba(39, 37, 37, 0.2) 1px, transparent 1px, transparent 80%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -50px;
    margin-bottom: 20px;
  }
  .secret h2 {
    width: 380px;
    left: 60px;
  }
  .secret h3 {
    width: 100%;
    color: white;
    margin: 0;
    margin-left: 50px;
    padding: 10px 0;
  }
  .secret__tab-fixer {
    position: absolute;
    right: -30px;
    left: auto;
    width: 45%;
    height: 105%;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 110% auto;
  }
  .secret__wrapper {
    padding-top: 50px;
    padding-top: 0;
  }
  .secret ul {
    display: none;
  }
  .secret__item {
    display: block;
    position: absolute;
    width: 70%;
    top: 120px;
    left: 50px;
    right: auto;
  }
  .secret svg {
    display: block;
  }
  /***************************************************************/
  /***************************************************************/
  /**************************  TOOLS   ***************************/
  /***************************************************************/
  /***************************************************************/
  .tools {
    background-position: 50% 0%;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    height: 100%;
  }
  .tools__pro-mobile {
    height: 100%;
    padding-bottom: 20px;
    margin-top: 100px;
  }
  .tools-m-prev, .tools-m-next {
    top: 32px;
  }
  .tools ul {
    width: 44%;
    height: 100%;
    border-right: 1px solid white;
    margin: 0;
  }
  .tools ul:last-child {
    width: 53%;
    text-align: left;
    border: none;
  }
  .tools iframe,
  .tools__setup img {
    display: none;
  }
  /***************************************************************/
  /***************************************************************/
  /************************  FRANCHISE   *************************/
  /***************************************************************/
  /***************************************************************/
  .franchise {
    height: 100%;
    display: block;
  }
  .franchise__wrapper {
    width: 100%;
    padding-top: 20px;
  }
  .franchise svg {
    display: block;
  }
  .franchise h2 {
    left: 290px;
  }
  .franchise h3 {
    margin-left: 50px;
    margin-bottom: 0;
    width: 70%;
    color: white;
  }
  .franchise__wrapper section:nth-child(2) h3 {
    width: 70%;
  }
  .franchise__wrapper section:nth-child(4) h3 {
    width: 70%;
  }
  .franchise__wrapper section:nth-child(5) h3 {
    width: 100%;
  }
  .franchise ul {
    display: none;
  }
  .franchise__item ul {
    display: block;
    width: 100%;
  }
  .franchise__item ul li {
    top: 10px;
    left: 0;
  }
  .franchise div.sect-head {
    align-items: center;
    width: 100%;
    cursor: pointer;
    background-color: rgba(39, 37, 37, 0.3);
    background-image: -webkit-repeating-radial-gradient(center center, rgba(39, 37, 37, 0.2), rgba(39, 37, 37, 0.2) 1px, transparent 1px, transparent 80%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(39, 37, 37, 0.2), rgba(39, 37, 37, 0.2) 1px, transparent 1px, transparent 80%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(39, 37, 37, 0.2), rgba(39, 37, 37, 0.2) 1px, transparent 1px, transparent 80%);
    background-image: repeating-radial-gradient(center center, rgba(39, 37, 37, 0.2), rgba(39, 37, 37, 0.2) 1px, transparent 1px, transparent 80%);
    -webkit-background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    background-size: 8px 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .franchise__item {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    padding: 0;
  }
  .franchise__item p {
    padding-left: 50px;
    padding-right: 50px;
  }
  .franchise__sqr-610 {
    top: 25%;
    right: 0;
  }
  .franchise__li--active:last-child::before {
    top: 70px;
  }
  .buisness .row {
    display: none;
  }
  .buisness figure:nth-child(4) {
    margin-left: 120px;
  }
  .calculator__triangle-270,
  .calculator a.call {
    display: none;
    display: none;
  }
  .calculator a.mobile-call {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .calculator a.mobile-call div {
    width: 250px;
  }
  .studios {
    height: 100%;
    padding-bottom: 50px;
  }
  .studios h2 {
    left: 0;
  }
  .studios__wrapper {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  .studios figure {
    width: 99%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .studios figure img {
    width: 100%;
  }
  .studios a {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .studios a:last-child {
    margin-top: 0;
  }
  .studios__sqr-360 {
    display: none;
  }
  .contacts {
    align-items: flex-start;
    background: url(../img/women.png) 110% 100% no-repeat;
  }
  .contacts__wrapper {
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  .advantages {
    max-height: 100%;
  }
  .advantages span {
    font-size: 22px;
  }
  .advantages span:first-child {
    padding-top: 40px;
  }
  .advantages span:nth-child(2) {
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  .advantages span:nth-child(4) {
    font-size: 32px;
    line-height: normal;
    margin-bottom: -8px;
  }
  .advantages p {
    margin-top: 0px;
  }
  /***************************************************************/
  /***************************************************************/
  /*************************  SECRET   ***************************/
  /***************************************************************/
  /***************************************************************/
  .secret h2 {
    width: 80%;
    left: 50px;
  }
  .secret h3 {
    font-size: 20px;
  }
  .secret__tab-fixer {
    display: none;
  }
  .secret__item {
    width: 71%;
  }
  .secret svg.secret--right {
    left: 370px;
  }
  .secret svg.secret--left {
    left: -40px;
  }
  /***************************************************************/
  /***************************************************************/
  /**************************  TOOLS   ***************************/
  /***************************************************************/
  /***************************************************************/
  .tools h3 {
    top: -50px;
  }
  .tools-m-prev {
    left: 17%;
    top: 50px;
  }
  .tools-m-next {
    right: 17%;
    top: 50px;
    transform: rotate(180deg);
  }
  .tools__pro-mobile {
    padding-left: 30px;
    padding-right: 30px;
  }
  .tools ul {
    padding-right: 20px;
  }
  .tools ul:last-child {
    width: 60%;
    padding-left: 10px;
  }
  /***************************************************************/
  /***************************************************************/
  /************************  FRANCHISE   *************************/
  /***************************************************************/
  /***************************************************************/
  .franchise {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .franchise__wrapper {
    padding-top: 20px;
  }
  .franchise__wrapper section {
    width: 100%;
  }
  .franchise div.sect-head {
    width: 100%;
    z-index: 103;
  }
  .franchise h2 {
    left: 40px;
  }
  .franchise h3 {
    width: 100%;
    font-size: 20px;
    margin-left: 40px;
  }
  .franchise svg.secret--right {
    left: 94%;
  }
  .franchise svg.secret--left {
    left: 5px;
  }
  .franchise p {
    height: 100%;
    padding-left: 40px;
  }
  .franchise__item ul {
    list-style: disc;
    margin-left: 20px;
  }
  .franchise__nav li {
    left: 0;
    padding-bottom: 35px;
  }
  .franchise__nav li:last-child {
    line-height: 1.5;
  }
  .franchise__item li::before {
    display: none;
  }
  .franchise__sqr-610 {
    width: 200px;
    height: 200px;
  }
  .franchise__li--active:first-child::before {
    top: 40px;
  }
  .franchise__li--active::before {
    left: 0;
    top: 70px;
  }
  /***************************************************************/
  /***************************************************************/
  /************************  BUISNESS   **************************/
  /***************************************************************/
  /***************************************************************/
  .buisness {
    justify-content: flex-start;
    height: 100%;
    padding-bottom: 40px;
  }
  .buisness h2 {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .buisness__row:last-child {
    padding-left: 0;
  }
  .buisness figure:nth-child(4) {
    margin-left: 70px;
  }
  .buisness figure img {
    width: 140px;
    height: auto;
  }
  /***************************************************************/
  /***************************************************************/
  /*************************  PARTNERS   **************************/
  /***************************************************************/
  /***************************************************************/
  .tobepartner__wrapper {
    padding-top: 0;
    padding-bottom: 50px;
  }
  .tobepartner__row:first-child, .tobepartner__row:last-child {
    margin-left: 0;
    margin-right: 0;
  }
  .tobepartner__row:last-child {
    margin-top: 30px;
  }
  .tobepartner figcaption {
    width: 140px;
  }
  .tobepartner__row {
    justify-content: center;
  }
  /***************************************************************/
  /***************************************************************/
  /***********************  CALCULATOR   *************************/
  /***************************************************************/
  /***************************************************************/
  .tbl {
    font-size: 16px;
  }
  .tbl-wrapper {
    display: block;
  }
  .tbl-cell {
    width: 100%;
  }
  .tbl-cell:nth-child(2) {
    padding-right: 10px;
  }
  .tbl-wrapper:last-child .tbl-cell:last-child {
    width: auto;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    padding-left: 24px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
  }
  .tbl-cell-hide {
    display: none;
  }
  .calculator h2 {
    width: 60%;
  }
  .calculator {
    height: 100%;
    align-items: center;
  }
  .calculator__bepartner {
    width: 350px;
  }
  .slider-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -50px;
    margin-top: -80px;
  }
  /***************************************************************/
  /***************************************************************/
  /*************************  STUDIOS   **************************/
  /***************************************************************/
  /***************************************************************/
  .studios h2 {
    left: 0;
  }
  /***************************************************************/
  /***************************************************************/
  /************************  CONTACTS   **************************/
  /***************************************************************/
  /***************************************************************/
  .contacts {
    align-items: center;
    background: none;
  }
  .contacts__wrapper {
    width: 90%;
    left: 0;
  }
  .contacts p {
    font-size: 16px;
  }
  footer {
    height: 100px;
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    width: 320px;
    max-width: 375px;
  }
  p {
    font-size: 16px;
  }
  h2 {
    font-size: 18px;
    margin-top: 40px;
  }
  h2:before {
    width: 60px;
    height: 60px;
    left: -24px;
    top: -17px;
  }
  h3 {
    font-size: 18px;
    line-height: 1.3;
  }
  .advantages {
    max-height: 100%;
  }
  .advantages p {
    font-size: 16px;
  }
  .advantages span {
    font-size: 14px;
  }
  .advantages span:first-child {
    padding-top: 30px;
  }
  .advantages span:nth-child(2) {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 20px;
  }
  .advantages span:nth-child(4) {
    font-size: 20px;
    line-height: normal;
    margin-bottom: -8px;
  }
  .advantages button {
    width: 240px;
  }
  .secret {
    height: 500px;
  }
  .secret h2 {
    width: 80%;
    left: 50px;
  }
  .secret h3 {
    position: relative;
    width: 30%;
  }
  .secret__tab-fixer {
    display: none;
  }
  .secret__item {
    top: 85px;
  }
  .secret svg.secret--right {
    left: 230px;
  }
  .tools {
    height: 100%;
  }
  .tools-m-prev {
    left: 5%;
    margin-top: -3px;
  }
  .tools-m-next {
    right: 5%;
    margin-top: -3px;
  }
  .tools ul {
    position: static;
    width: 100%;
    padding: 0;
    border: none;
    font-size: 12px;
  }
  .franchise div.sect.head {
    width: 100%;
    padding-top: 20px;
  }
  .franchise h3 {
    width: 100%;
    height: 100%;
  }
  .franchise svg.secret--right {
    left: 88%;
  }
  .buisness .row:last-child {
    width: 100%;
  }
  .buisness figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .buisness figure:nth-child(3) {
    margin-top: 40px;
  }
  .buisness figure figcaption {
    text-align: center;
    font-size: 14px;
    margin-left: 20px;
  }
  .buisness figure:nth-child(4) {
    margin-left: 0;
  }
  .buisness figure img {
    width: 120px;
  }
  .calculator {
    height: 100%;
  }
  .tobepartner {
    height: 100%;
  }
  .tobepartner h2 {
    margin-top: 80px;
  }
  .tobepartner__wrapper {
    margin-top: -20px;
  }
  .tobepartner__row {
    display: block;
    padding: 0;
    margin: 0;
  }
  .tobepartner figure {
    margin-bottom: 30px;
  }
  .tobepartner figcaption {
    width: 100%;
  }
  .studios {
    padding-bottom: 10px;
  }
  .studios h2 {
    left: 0;
  }
  .studios button {
    width: 250px;
  }
  .contacts {
    width: 100%;
    align-items: center;
    background: none;
  }
  .contacts form {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
  .contacts__wrapper {
    width: 90%;
    left: 0;
  }
  .contacts p {
    font-size: 16px;
  }
  .contacts p span {
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
  }
  footer {
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  footer span {
    display: flex;
    flex-direction: column;
  }
  footer span:last-child {
    margin-top: 10px;
    align-items: center;
    width: 150px;
  }
}

.highlighted-menu-item {
  text-decoration: underline;
}

.container,
.container-fluid,
.col-md-12,
.col-md-6,
.col-md-3,
.row {
  padding: 0;
  margin: 0;
}
